# EditorConfig is awesome: https://editorconfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true

# Typescript files
[*.{ts,tsx}]
charset = utf-8
indent_style = space
indent_size = 2

# JSON files
[{package.json,.travis.yml}]
indent_style = space
indent_size = 2
