@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --ev-modal-top: 65px;
}

/* Issues with dependencies.

relative z-10 flex h-full w-full flex-col justify-center bg-InfoBlock text-InfoBlockText overflow-y-auto overflow-x-hidden md:rounded lg:flex-row
*/
