.CanvasContainer {
  display: flex;
  flex: 1 1 0px;
  flex-direction: column;
  min-width: 0;
  min-height: 0;
  view-transition-name: canvas-image;
  contain: layout;
}

.CanvasContainer :global(.atlas-container) {
  min-width: 0;
  min-height: 0;
  --atlas-container-flex: 1 1 0px;
  --atlas-background: #e5e7f0;
}

@container (max-width: 400px) {
  .CanvasContainer button[data-control="next"],
  .CanvasContainer button[data-control="previous"] {
    display: none;
  }
}
