/* ManifestListing */
.ManifestListing {
  overflow: auto;
  container: listing-c/size;
  flex: 1;
  position: relative;
}

/* ThumbnailList */
.ThumbnailList {
  --thumb-size: 150px;
  --thumb-ratio: 1;
  --item-count: 1;

  background: #fff;
  padding: 1em;

  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(calc(var(--thumb-size)), 1fr));
  justify-content: space-between;
  gap: 0.2em;
}

.ThumbnailList[data-single="true"] {
  max-width: 250px;
}

@media (min-width: 400px) {
  .ThumbnailList {
    gap: 0.875em;
  }
}

/* ThumbnailGroup */
.ThumbnailGroup {
  background: #fff;
  padding: 2px;
  display: flex;
  grid-column-end: span var(--item-count, 1);
  align-items: center;
}

/* ThumbnailItem */
.ThumbnailItem {
  background: #fff;
  width: 100%;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  padding: 2px;
  border-radius: 3px;
}

.ThumbnailItem:hover {
  background: #ddd;
}

.ThumbnailItem[data-selected="true"] {
  background: var(--selected-canvas-background, #dfe8fa);
}

/* ThumbnailImage */
.ThumbnailImage {
  flex: 1;
  background: var(--atlas-background, #f9f9f9);
  min-height: 0;
  display: flex;
  aspect-ratio: var(--thumb-ratio);
  max-height: var(--thumb-size);
}

.ThumbnailImage img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

/* ThumbnailLabel */
.ThumbnailLabel {
  white-space: nowrap;
  overflow: hidden;
  height: 1.2rem;
  padding: 0 0.2em;
  display: flex;
  align-items: center;
  font-size: 0.875em;
}
