.manifest-editor {
  @tailwind components;
  @tailwind utilities;

  @import "@manifest-editor/components/dist/lib.css";
  @import "@manifest-editor/editors/dist/index.css";
  @import "@manifest-editor/exhibition-preset/dist/index.css";
}
